h2{
    font-size: 48px;
    display: flex;
    justify-content: center;

}

.main-content h2{
    font-size: 36px;
<<<<<<< HEAD
=======
    color: rgb(223, 206, 56);

>>>>>>> be5824de0fe856e6e791522c797581cbe92e13fb
}

.main-content p{
    font-size: 25px;    
}
.table{
    font-size: 32px;
    display: flex;
    justify-content: center;
}            